*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 105.5deg,  rgba(31,212,248,1) 11%, rgba(218,15,183,1) 74.9% );
    position: relative;
}
header:before{
    content: "";
    width: 620px;
    height: 550px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('images/butterfly.png');
    background-size: 100% 100%;
}
.navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.logo h1{
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}
.menu ul li a{
    text-decoration: none;
    color:white;
    text-transform: capitalize;
}

.active{
    border-top: 2px solid #5dade2;
    border-bottom: 2px solid #5dade2;
}




.center-content{
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-content h1{
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
    /*z-index: 1;*/
}

.center-content h2{
    font-size: 25px;
    font-weight: 400;
    color:#fff;
    /*z-index: 1;*/
}

